WinSvcAndaluciaCuadre/Connected Services/CargarDatosSvc/CargaDatosSvc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.frameworks.com.ec/Games/2017/01" elementFormDefault="qualified" targetNamespace="http://schemas.frameworks.com.ec/Games/2017/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autoriza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTran" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCierre" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeAuxiliar1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeAuxiliar2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeAuxiliar3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCont" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDif" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPaginas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalProducto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRegistros" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsResultado" nillable="true" type="tns:clsResultado" />
</xs:schema>