WinSvcAndaluciaCuadre/Connected Services/CargarDatosSvc/CargaDatosSvc4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoAndaluciaSvc.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoAndaluciaSvc.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsFiltro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Modo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagina" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rol" type="xs:long" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cadena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_filial" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="p_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_modo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="p_oficina" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="p_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trn" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsFiltro" nillable="true" type="tns:clsFiltro" />
</xs:schema>