TestSvcNotificacion/Service References/notificador/Notificador2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" elementFormDefault="qualified" targetNamespace="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsCorreoAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuncionarioTran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaHtml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmtpServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmtpServerPort" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SmtpServerSsl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCorreoAplicacion" nillable="true" type="tns:clsCorreoAplicacion" />
</xs:schema>