TestSvcNotificacion/Service References/notificador/Notificador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.110.27.21/AndaluciaNotificador/Notificador.svc?xsd=xsd2" namespace="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" />
  <xs:import schemaLocation="https://10.110.27.21/AndaluciaNotificador/Notificador.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://10.110.27.21/AndaluciaNotificador/Notificador.svc?xsd=xsd4" namespace="http://schemas.frameworks.com.ec/Games/2017/01" />
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" minOccurs="0" name="datosCorreo" nillable="true" type="q1:clsCorreoAplicacion" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametros" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="anexos" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.frameworks.com.ec/Games/2017/01" minOccurs="0" name="EnviarCorreoResult" nillable="true" type="q4:clsResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoVarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="correosDesstino" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" minOccurs="0" name="datosCorreo" nillable="true" type="q6:clsCorreoAplicacion" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametros" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="anexos" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoVariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCorreoVariosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>