WinSvcAndaluciaCuadre/Connected Services/SvcEnviarCorreo/Notificador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Notificador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55202/Notificador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55202/Notificador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55202/Notificador.svc?xsd=xsd2" namespace="http://schemas.frameworks.com.ec/ProyectoCuadresSQL/2020/9" />
      <xsd:import schemaLocation="http://localhost:55202/Notificador.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificador_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="INotificador_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="INotificador_EnviarCorreoVarios_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoVarios" />
  </wsdl:message>
  <wsdl:message name="INotificador_EnviarCorreoVarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoVariosResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificador">
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificador/EnviarCorreo" message="tns:INotificador_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificador/EnviarCorreoResponse" message="tns:INotificador_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoVarios">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificador/EnviarCorreoVarios" message="tns:INotificador_EnviarCorreoVarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificador/EnviarCorreoVariosResponse" message="tns:INotificador_EnviarCorreoVarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificador" type="tns:INotificador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCorreo">
      <soap:operation soapAction="http://tempuri.org/INotificador/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoVarios">
      <soap:operation soapAction="http://tempuri.org/INotificador/EnviarCorreoVarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notificador">
    <wsdl:port name="BasicHttpBinding_INotificador" binding="tns:BasicHttpBinding_INotificador">
      <soap:address location="http://localhost:55202/Notificador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>